body {
    margin: 0% 5% 0% 5%;
    border: solid black 1px;
}

header {
    overflow: auto;
    background-color: #333;
    color: #fff;
    padding: 1vh 0vh;
}

main {
    clear: both;
    padding: 0% 2.5% 2.5% 2.5%;
}

header > span {
    float: left;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
}

ul > li {
    margin-left: 1%;
    margin-right: 1%;
}

footer {
    overflow: auto;
    background-color: #333;
    color: #fff;
    padding: 1.5vh;
    text-align: center;
}

.hero {
    border: solid red 1px;
    width: 100%;
    display: inline-flex;
}

.hero > div {
    width: 50%;
}

.hero > :nth-child(1) {
    padding: 2.5%;
}

.hero > :nth-child(2) {
    padding: 2.5%;
}

.hero > div > img {
    max-width: 80%;
    float: right;
}

#title {
    float: left; 
    margin-right: auto; 
}

ul > li:not(#title) {
    float: right; 
}

li a {
    text-decoration: none; 
    color: inherit; 
}

li a:hover {
    color: white;
}


